*{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight:bolder;
}
body{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight:bolder;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green;
}
.container{
	padding-top:10%;
	padding-left:20%;	
}
.table{
	padding:20px;
	padding-left:15%;
}
a{
	text-decoration:none;
}
.btn{
	width:150px;
	padding:20px;
	margin-bottom:10px;
}
.index{
	align-items:center;
	justify-content:center;
	height:100vh;
	padding-top:15%;
}
body{
	background-image:url("bg.jpg");
}